fastapi
uvicorn[standard]
python-multipart

langchain
langchain-community
langchain-huggingface
langchain-text-splitters

huggingface-hub
sentence-transformers

faiss-cpu
numpy

pydantic
python-dotenv
pypdf
requests

transformers

gTTS
soundfile